<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      Add Goods Details
    </div>
  
  
  </mat-toolbar>
  
  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="height: 93vh;width: 100%;margin:16px">
      <mat-card class="padding">
        <div class="padding fixed-height">
  
          <app-goods-form [isEdit]="isEdit" [goods]="goods" (saveData)="saveData($event)"></app-goods-form>
        </div>
      </mat-card>
    </div>
  </div>