<div fxFlex="95">
        <div fxFlayout="row wrap" fxLayoutAlign="space-between center">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                  <button mat-raised-button color="primary" [disabled]="!isEdit" (click)="openBankForm(bankForm,null)">Add</button>
                  <!-- <button mat-icon-button matTooltip="Edit" [disabled]="!isEdit" (click)="checkPermission()">
                        <mat-icon>edit</mat-icon>
                    </button> -->
            </div>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="BankName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> BankName </th>
                  <td mat-cell *matCellDef="let row"> {{row.BankName}} </td>
                </ng-container>
                <ng-container matColumnDef="AcNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> AcNo </th>
                  <td mat-cell *matCellDef="let row"> {{row.AcNo}} </td>
                </ng-container>
                <ng-container matColumnDef="AcHolderName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> AcHolderName </th>
                  <td mat-cell *matCellDef="let row"> {{row.AcHolderName}} </td>
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let row"> 
                      <button mat-button (click)="openBankForm(bankForm,row)" [disabled]="!isEdit">Edit</button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
</div>


<ng-template #bankForm>
    <h2 matDialogTitle>Bank Detials</h2>
    <form name="myForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)" #myForm="ngForm" novalidate>
        <mat-dialog-content>
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <app-select fxFlex="55" [form]="myForm" labelName="Bank Branch" type="text" filedName="BBId"
                    [filedValue]="bankObj" required="true" primaryKey="BBId" name="BankName" [data]="bankBranches"
                    readonly="false" errorRequired="State is required">

                </app-select>
                <app-input fxFlex="55" [form]="myForm" labelName="Account No" type="text" filedName="AcNo" [filedValue]="bankObj"
                    required="true" errorRequired="Account No is required" readonly="false">
                </app-input>
                <app-input fxFlex="55" [form]="myForm" labelName="Name" type="text" filedName="AcHolderName"
                    [filedValue]="bankObj" required="true" errorRequired="Name is required" readonly="false">
                </app-input>
                <app-input fxFlex="55" [form]="myForm" labelName="Description" type="text" filedName="Description"
                    [filedValue]="bankObj" required="true" errorRequired="Description is required" readonly="false">
                </app-input>
                <mat-checkbox fxFlex="55"  [(ngModel)]="bankObj.DefaultAc" color="primary" [ngModelOptions]="{standalone: true}">Is Default Account</mat-checkbox>
                <mat-checkbox fxFlex="55"  [(ngModel)]="bankObj.IsActive" color="primary" [ngModelOptions]="{standalone: true}">Is Active</mat-checkbox>
            </div>


        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button type="submit" color="primary">Save</button>
            <button mat-button matDialogClose type="reset" color="primary">Close</button>
        </mat-dialog-actions>
    </form>
</ng-template>