<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="company()">Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="ubt()">UBT</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card">Simple card</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card">Simple card</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card">Simple card</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card">Simple card</mat-card>
</div>
