<mat-toolbar class="head-toolbar" fxLayout="row" fxLayoutAlign="space-between center" >
    <div  class="menu-header">  
        <span>
            Masters </span>
    </div>

</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center" class="padding">
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="customerMaster()">Customer Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="vendorMaster()">Vendor Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="agencyMaster()">Agency Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="goodsMaster()">Goods Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="serviceMaster()">Service Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="bankMaster()">Bank Master</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="createBusiness()">Create Business</mat-card>
    <mat-card  fxLayoutAlign="center center" fxFlex="30" class="margin card" (click)="createComapny()">Create Company</mat-card>
</div>

