<!-- *ngIf="router.url != '/' && router.url != '/login'" -->
<mat-sidenav-container  fullscreen >
        <mat-sidenav #sidenav style="background-color: #2F4050;color: #fff !important;z-index: 1;" mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" [opened]="isOpen" >
          <div class="logo">
              <h2 style="text-align:center">Little-ERP</h2>
          </div>
        
        <mat-nav-list style="padding-top:62px">
          <mat-list-item routerLink="" routerLinkActive="active"[ngClass]="{'active' : router.url != '/adminstration'}" style="color:#fff">
            <mat-icon mat-list-icon >dns</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5>Operation</h5>
            </div>
          </mat-list-item>
    
          <mat-list-item routerLink="adminstration" routerLinkActive="active" style="color:#fff">
            <mat-icon mat-list-icon >settings</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6">
              <h5>Adminstartion</h5>
            </div>
          </mat-list-item>
          <!-- [ngClass]="{'active' : isOperation}" -->
          <!-- <mat-list-item routerLink="3" routerLinkActive="active" style="color:#fff">
            <mat-icon mat-list-icon>local_phone</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
              <h5 class="lead">Contact</h5>
            </div>
          </mat-list-item> -->
    
    
    
        </mat-nav-list>
    
      </mat-sidenav>
      <!-- <mat-sidenav #drawer position="left" mode="side" id="sideNav" [opened]="isOpen" disableClose="true"
      [ngStyle]="{ 'width.em': sidenavWidth }">
      <div>
    
    
        <ul class="sidenav-list">
          <li>
            <a class="side" routerLink="" routerLinkActive="active">Operation</a>
          </li>
          <li>
            <a class="side" routerLink="/view-users" routerLinkActive="active">Adminstartion</a>
          </li>
          <li>
            <a class="side" routerLink="/view-customers" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a class="side" routerLink="/view-products" routerLinkActive="active">Report</a>
          </li>
          <li>
            <a class="side" routerLink="/view-bills" routerLinkActive="active">Help</a>
          </li>
        </ul>
      </div>
    </mat-sidenav> -->
    <mat-sidenav-content style="margin-left: 55px !important;">
        <button mat-icon-button class="menu-btn" (click)="toggle()" style="position: absolute;top: 20px;left: 20px;">
          <mat-icon>menu</mat-icon>
        </button>
    <!-- <mat-toolbar  style="color:#fff!;background-color: #60717d">
        <button mat-icon-button class="menu-btn" (click)="toggle()"><mat-icon>menu</mat-icon>
        </button>
        <div style="position: absolute;top: 12px;left: 36px">
            <a routerLink="/home">
              POC
            </a>
          </div>
    
    <div class="right-side">
      <label style="position: relative;top: -6px;font-size: 14px;color:#fff">Admin</label>
    </div>
    </mat-toolbar> -->
    
    <div style="height: 90vh;background-color: #f8f8f8f8;" >
        <!-- <button mat-icon-button matTooltip="Notifications" style="position: absolute;right: 24%;top: 22px;color: grey;">
            <mat-icon matBadge="6" matBadgeColor="warn">notification_important</mat-icon>
        </button> -->
        <label class="uname">Welcome to super user</label>
        <img src="../assets/user.jpg" class="uimage">
        <!-- <button mat-icon-button style="position: absolute;right: 2%;top: 8px;">
          <mat-icon>arrow_drop_down</mat-icon>
        </button> -->
        <router-outlet></router-outlet>
    </div>
    
    
    </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <div *ngIf="router.url == '/' || router.url == '/login'">
      <router-outlet></router-outlet>
    </div> -->