.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
}
.content{
    margin-left: 64px !important;
}
.active{
  background: #f39c38 !important;
  color: #fff;
}
.mat-drawer-side{
    border-right: none !important;
}
.logo{
    margin-top: 16px
}