<mat-toolbar
    class="head-toolbar"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    style="background-color:#fff !important;width:99%"
>
    <div class="menu-header">
        <span>Master /</span>
        <span style="color:#ccc">View and Update Company</span>
    </div>
    <button
        mat-icon-button
        matTooltip="Edit"
        (click)="checkPermission()"
        *ngIf="!isEdit"
        style="padding-left:24px;padding-top: 6px;"
    >
        <mat-icon>edit</mat-icon>
    </button>
    <button
        mat-icon-button
        matTooltip="View"
        *ngIf="isEdit"
        (click)="viewDetails()"
    >
        <mat-icon>collections_bookmark</mat-icon>
    </button>

</mat-toolbar>
<button
    mat-icon-button
    *ngIf="width != 25"
    class="treeIcon"
    (click)="maxWidth()"
    matTooltip="Expand Tree"
>
    <mat-icon>account_tree</mat-icon>
</button>
<div
    fxLayout="row"
    fxLayoutAlign="start center"
>
    <div
        *ngIf="width != 0"
        [style.width.%]="width"
        style="height: 93vh;background-color: #fff;border-right: 1px solid #ccc;"
    >
        <div
            fxLayout="row"
            fxLayoutAlign="end center"
        >
            <div>
                <button
                    mat-icon-button
                    (click)="refresh()"
                    matTooltip="Refresh Tree"
                >
                    <mat-icon>refresh</mat-icon>
                </button>
                <button
                    mat-icon-button
                    (click)="minWidth()"
                    matTooltip="Collapse Tree"
                >
                    <mat-icon>close</mat-icon>
                </button>

            </div>

        </div>
        <div>
            <app-tree
                [dataSrc]="dataSrc"
                [treeArray]="treeArray"
                [childrenNode]="childrenNode"
                (dataLabelChange)="dataNode($event)"
                (nodeLabelChange)="nodeLabel($event)"
            ></app-tree>
        </div>

    </div>
    <div style="height: 93vh;width: 100%;margin:16px">
        <mat-card class="padding">
            <div class="padding fixed-height">

                <app-company-form
                    [isEdit]="isEdit"
                    [company]="company"
                    [dataLoad]="states"
                    (saveData)="saveData($event)"
                ></app-company-form>
            </div>
        </mat-card>

        <div
        [ngClass]=" height > 43 ? 'scroll' : 'hidden'"
          
            
        >
            <span
            mwlResizable
            [enableGhostResize]="false"
            [resizeEdges]="{bottom: false, right: false, top: true, left: false}"
            (resizeEnd)="onResizeEnd($event)"
                *ngIf="!appComponent.isOpen"
                [ngClass]=" width == 0 ? 'footer3' : 'footer2'"
                [style.height.px]="height"
                
            >
                    <div
                    class="window-header"
                    [ngClass]=" width == 0 ? 'width-off' : 'width-on'"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div style="padding-left: 22px;height:4px;color:#f4f4f4">Details</div>
                    <div
                        style="padding-right: 22px;"
                        class="window-icons"
                    >
                        <button
                            mat-icon-button
                            *ngIf="height > 43"
                            matTooltip="Minimize"
                            (click)="min()"
                        >
                            <mat-icon>indeterminate_check_box</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            *ngIf="height != restoreHeight"
                            matTooltip="Restore"
                            (click)="restore()"
                        >
                            <mat-icon>restore_page</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            *ngIf="height != maxHeight"
                            (click)="max()"
                            matTooltip="Maximize"
                        >
                            <mat-icon>aspect_ratio</mat-icon>
                        </button>
                    </div>

                </div>

                <div
                    class="content"
                    [ngClass]=" width == 0 ? 'width-off' : 'width-on'"
                >
                    <mat-tab-group
                        [selectedIndex]="selectedTab"
                        (selectedTabChange)="tabChange($event)"
                    >
                        <mat-tab label="Documents">
                            <app-documents
                                [isEdit]="isEdit"
                                [pan]="panDocumentPath"
                                [cin]="cinDocumentPath"
                                [tan]="tanDocumentPath"
                                [gstin]="gstinDocumentPath"
                                (saveDocumentFiles)="saveDocumentFiles($event)"
                            ></app-documents>
                        </mat-tab>
                        <mat-tab label="Directors">
                            <app-directors></app-directors>
                        </mat-tab>
                        <mat-tab label="Customer">
                            <app-customer
                                [isEdit]="isEdit"
                                [customers]="customers"
                                (checkPermissionEvent)="checkPermissionCustomerEvent($event)"
                                (saveCustomerEvent)="saveCustomerDetails($event)"
                            ></app-customer>
                        </mat-tab>
                        <mat-tab label="Vendor">
                            <app-vendor
                                [isEdit]="isEdit"
                                [vendors]="vendors"
                                (checkPermissionEvent)="checkPermissionVendorEvent($event)"
                                (saveVendorEvent)="saveVendorDetails($event)"
                            ></app-vendor>
                        </mat-tab>
                        <mat-tab label="Bank">
                            <app-bank
                                [isEdit]="isEdit"
                                [bankAccDetails]="bankAccDetails"
                                [bankBranches]="bankBranches"
                                (saveBankDetails)="saveBankDetails($event)"
                            ></app-bank>
                        </mat-tab>
                    </mat-tab-group>

                </div>                
            </span>
            <span
                *ngIf="appComponent.isOpen"
                [ngClass]=" width == 0 ? 'footer1' : 'footer'"
                [style.height.px]="height"
                mwlResizable
                [enableGhostResize]="false"
                [resizeEdges]="{bottom: false, right: false, top: true, left: false}"
                (resizeEnd)="onResizeEnd($event)"
            >
                <div
                    class="window-header"
                    [ngClass]=" width == 0 ? 'width-off' : 'width-on'"
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                >
                    <div style="padding-left: 22px;height:4px;color:#f4f4f4">Details</div>
                    <div
                        style="padding-right: 22px;"
                        class="window-icons"
                    >
                        <button
                            mat-icon-button
                            *ngIf="height > 43"
                            matTooltip="Minimize"
                            (click)="min()"
                        >
                            <mat-icon>indeterminate_check_box</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            *ngIf="height != restoreHeight"
                            matTooltip="Restore"
                            (click)="restore()"
                        >
                            <mat-icon>restore_page</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            *ngIf="height != maxHeight"
                            (click)="max()"
                            matTooltip="Maximize"
                        >
                            <mat-icon>aspect_ratio</mat-icon>
                        </button>
                    </div>

                </div>

                <div
                    class="content"
                    [ngClass]=" width == 0 ? 'width-off' : 'width-on'"
                >
                    <mat-tab-group
                        [selectedIndex]="selectedTab"
                        (selectedTabChange)="tabChange($event)"
                    >
                        <mat-tab label="Documents">
                            <app-documents
                                [isEdit]="isEdit"
                                [pan]="panDocumentPath"
                                [cin]="cinDocumentPath"
                                [tan]="tanDocumentPath"
                                [gstin]="gstinDocumentPath"
                                (saveDocumentFiles)="saveDocumentFiles($event)"
                            ></app-documents>
                        </mat-tab>
                        <mat-tab label="Directors">
                            <app-directors></app-directors>
                        </mat-tab>
                        <mat-tab label="Customer">
                            <app-customer
                                [isEdit]="isEdit"
                                [customers]="customers"
                                (checkPermissionEvent)="checkPermissionCustomerEvent($event)"
                                (saveCustomerEvent)="saveCustomerDetails($event)"
                            ></app-customer>
                        </mat-tab>
                        <mat-tab label="Vendor">
                            <app-vendor
                                [isEdit]="isEdit"
                                [vendors]="vendors"
                                (checkPermissionEvent)="checkPermissionVendorEvent($event)"
                                (saveVendorEvent)="saveVendorDetails($event)"
                            ></app-vendor>
                        </mat-tab>
                        <mat-tab label="Bank">
                            <app-bank
                                [isEdit]="isEdit"
                                [bankAccDetails]="bankAccDetails"
                                [bankBranches]="bankBranches"
                                (saveBankDetails)="saveBankDetails($event)"
                            ></app-bank>
                        </mat-tab>
                    </mat-tab-group>

                </div>
            </span>
        </div>

    </div>
</div>

<ng-template #statusDialog> 
    <h2 matDialogTitle>Confirm</h2>
    <mat-dialog-content>
        <p>Changes that you made may not be saved.</p>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            mat-button
            (click)="saveChanges()"
        >
            Save the changes
        </button>
        <button
            mat-button
            (click)="discardChanges()"
        >
            Discard the changes
        </button>
    </mat-dialog-actions>
</ng-template>
