/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    overflow: auto;
    background-color: #f8f8f8;
}
*{
    padding: 0px;
    margin: 0px;
}
.float-btn{
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
  }

  table{
      width: 100%;
  }
  .padding-left{
    padding-left: 16px;
  }
  .txtColor:hover{
    color: #f39c38;
    cursor: pointer;
  }
  
  .background-highlight{
    background:#708090;
    color: #fff;
  }
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }
  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .fixed-height{
      height: 72vh;
      overflow-y: auto;
  }
  .footer{
    bottom: 12px;
    background-color: #f8f8f8;
   width: 100%;
   position: fixed;
   z-index: 999;
  }
  .hidden{
    overflow: hidden;
  }
  .scroll{
    overflow-y: auto;
  }
  .content{
    position: relative;
    top: 56px;
    background-color: #fff;
  }
  .window-header{
    background-color: #f4f4f4;
    color: #131313;
    height: 50px;
    position: fixed;
    z-index: 999;
  }
  .width-off{
    width: 81.2%;
  }
  .width-on{
    width: 65%;
  }
  .padding-left{
    padding-left: 16px;
  }
 .mat-tab-label-active{
   background-color: #32404f !important;
   color: #fff;
 }
 .mat-tab-body-wrapper{
   padding: 16px;
 }
 .mat-raised-button.mat-primary {
  background-color: #32404f !important;
  color: #fff !important; 
}
.mat-list-base{
  padding: 0px 12px;
}
.mat-form-field-infix{
  font-size: 13px !important;
}